.DS_Store
arduino/ambovis/.idea/
arduino/ambovis/test/unit-tests/sensorcalculation/epoxyeepromdata
arduino/Paracambiarpornuevmenu/.idea/
arduino/ambovis/CMakeLists.txt
arduino/ambovis/cmake-build-debug/
arduino/libs
arduino/AUnit
arduino/LiquidCrystal
arduino/Adafruit*
arduino/EpoxyDuino
.idea
*.tmp
*.out
*.o

