.DS_Store
.idea/
arduino/ambovis/.idea/
arduino/ambovis/tests/unit-tests/sensorcalculationTest/epoxyeepromdata
arduino/Paracambiarpornuevmenu/.idea/
arduino/ambovis/CMakeLists.txt
arduino/ambovis/cmake-build-debug/
arduino/EpoxyDuino
arduino/AUnit/
arduino/Adafruit*
arduino/LiquidCrystal/
arduino/libs
.idea
*.tmp
*.out
*.o
