.DS_Store
.idea/
*/.idea/
src/ambovis/tests/unit-tests/*/epoxyeepromdata
src/ambovis/CMakeLists.txt
src/ambovis/cmake-build-debug/
arduino/EpoxyDuino
arduino/EpoxyEeprom
arduino/ambovis/
arduino/AUnit/
arduino/Adafruit*
arduino/LiquidCrystal/
arduino/libs
.idea
*.tmp
*.out
*.o
